body {
	font-family: 'Frank Ruhl Libre', sans-serif;
	font-weight: 300;
  background-color: #000;
	font-feature-settings: "liga" 0;
	-webkit-font-feature-settings: "liga" 0;
	-moz-font-feature-settings: "liga" 0;
	-ms-font-feature-settings: "liga" 0;

}

h1 {
	font-family: 'Frank Ruhl Libre', sans-serif;
  font-style: italic;
  font-weight: 700;
}

h2 {
	font-family: 'Frank Ruhl Libre', sans-serif;
  font-weight: 900;
  font-size: 1.5em;
	word-wrap: break-word;
}

h3 {
	font-family: 'Frank Ruhl Libre', sans-serif;
}

h4 {
	font-family: 'Frank Ruhl Libre', sans-serif;
}

h5 {
	font-family: 'Frank Ruhl Libre', sans-serif;
}

h6 {
	font-family: 'Frank Ruhl Libre', sans-serif;
}



@media screen and (min-width: 40em) {
  h1 {
    font-size: 3rem; }
  h2 {
    font-size: 2.2rem; }
  h3 {
    font-size: 1.9375rem; }
  h4 {
    font-size: 1.5625rem; }
  h5 {
    font-size: 1.25rem; }
  h6 {
    font-size: 1rem; } }

.subtitle > p {
  font-family: 'proxima-nova', sans-serif;
  font-weight: 300;
  font-size: 1rem;
}

a {
	color: #000;
	/*text-decoration: underline;*/
	transition: color 0.25s ease-out;
	font-weight: 500;
}

a:visited, a:active, a:focus {
	color: #000;
}


a:hover {
	color: rgba(0, 0, 0, 0.6);
}

p {
	word-wrap: break-word;
}

/*Navigation*/

.top-bar-container {
  width: 100%;

}

.sticky {
  width: 100%;
  height: 10vh;
	background-color: #fff;
	border-bottom: solid 1px #e6e6e6;
}

.top-bar {
  height: 10vh;
  background-color: transparent;
	/*border-bottom: solid 1px #e6e6e6;*/
  position: relative;
  max-width: 62.5rem;
  margin: 0 auto;
  font-family: 'proxima-nova', sans-serif;
  font-weight: 500;
  font-size: 1rem;
  color: #fff;
}

.menu-icon::after {
    background: #000;
    box-shadow: 0 7px 0 #000, 0 14px 0 #000;
}

.title-bar {
    background: #fff;
    color: #000;
    padding: 0 22px;
		visibility: hidden;
}

.title-bar-title {
	float: right;
}

.menu-icon {
    width: 24px;
}

.mobile-menu {
	background-color: #fff;
}

.menu-close-button {
    font-size: 3em;
		float: left;
		margin-left: 8px;
		margin-top: -14px;
}

.mobile-vertical {
	margin-top: 4em;

}

.menu.vertical > li {
    display: block;
    text-align: center;
		line-height: 1;
		font-family: 'proxima-nova', sans-serif;
		font-size: 1.5em;
		text-decoration: none;
}

.top-bar ul {
  background-color: transparent;
}

.menu-item a {
    color: #000;
    text-transform: uppercase;
		display: inline-block;
		position: relative;
}

.has-submenu {
	text-transform: uppercase;
}

.submenu.menu.vertical > li {
    display: block;
    text-align: left;
		line-height: 1;
		font-family: 'proxima-nova', sans-serif;
		font-size: 1em;
		text-decoration: none;
		background-color: #fff;
		transition: background-color 0.25s ease-out, color 0.25s ease-out;
}

.submenu.menu.vertical > li:hover {
	background-color: #f5f5f5;
}

.dropdown.menu > li.is-dropdown-submenu-parent > a::after {
    border-color: #000 transparent transparent;
}


.menu a:hover {
	color: rgba(0, 0, 0, 0.8);
}

.menu-item a:hover:after {
  content: '';
  position: absolute;
  left: 0;
  display: inline-block;
  height: 1em;
  width: 100%;
  border-bottom: 5px solid #e6e6e6;
	border-left: 5px solid #e6e6e6;
	border-right: 5px solid #e6e6e6;
  margin-top: 5px;
}


.main-menu {
  position: absolute;
top: 50%;
transform: translateY(-50%);
}

.top-bar-right{
  position: absolute;
	top: 50%;
	transform: translateY(-50%);
	right: 0%;
	padding: 0 1rem;
	}

@media screen and (min-width: 40em) and (max-width: 63.9375em) {
	.top-bar-right{
		padding: 0 1.5rem;
		}

}


.menu-logo {
  padding-right: 16px;
}

.button {
  background-color: #000;
	color: #fff;
}

a.button, a.button:hover, a.button:focus {
	color: #fff;
}

.button:hover, .button:focus {
  background-color: #333;
  color: #fff; }

	@media screen and (max-width: 39.9375em) {
		.top-bar {
			visibility: hidden;
			display: none;
		}
		.sticky {
		  height: 8vh;
			display: flex;
			flex-direction: column;
			justify-content: center;
		}
		.menu > li > a {
	    line-height: 1.5;
		}
		.title-bar {
				visibility: visible;
		}
	}


/*header*/

.parallax-background {
  background-color: #000000;
	height: 100vh;
	background-repeat: no-repeat;
	-webkit-background-size: cover;
  	-moz-background-size: cover;
  	-o-background-size: cover;
	background-size: cover;
	background-position: center;
	position: fixed;
	width: 100%;
	opacity: .9;
}

.parallax-background-post {
  background-color: #000000;
	height: 100vh;
	background-repeat: no-repeat;
	-webkit-background-size: cover;
  	-moz-background-size: cover;
  	-o-background-size: cover;
	background-size: cover;
	background-position: center;
	position: fixed;
	width: 100%;
	opacity: .9;
}

.intro-container {
	font-size: 50px;
	color: #fff;
	text-align: center;
	margin-top: 25vh;
	position: absolute;
	z-index: 100;
	width: 100%;
}

@media screen and (max-width: 39.9375em) {
	.intro-container {
		margin-top: 25vh;
	}

}

.intro-logo {
	margin: 0 auto;
}

.feature-blurb > a {
	color: #fff;
}

.feature-blurb > a:hover {
	color: rgba(255, 255, 255, 0.8);
}

/*Feature*/

.feature-title {
	max-width: 700px;
	margin: 0 auto;
	padding-top: 20px;
}

.feature-title > p {
	font-family: 'Frank Ruhl Libre', sans-serif;
	font-weight: 900;
	font-size: 3.5rem;
	line-height: 1.25;
	color: #fff;
}

.feature-title > a {
	font-family: 'Frank Ruhl Libre', sans-serif;
	font-weight: 900;
	font-size: 3.5rem;
	line-height: 1.25;
	text-transform: capitalize;
	color: #fff;
	display: inline-block;
  position: relative;
}

.feature-title > a:hover {
	color: rgba(255, 255, 255, 0.8);
}

.feature-subtitle > p {
	font-family: 'proxima-nova', sans-serif;
	font-weight: 400;
	font-size: 1rem;
}

@media screen and (max-width: 39.9375em) {
	.feature-title > p {
		font-weight: 700;
		font-size: 2rem;
	}

	.feature-title > a {
		font-size: 2rem;
		font-weight: 700;
	}

	.feature-title {
		max-width: 6em;
		margin: 0 auto;
		padding-top: 20px;
	}

}

/*Content*/

.mainbody {
	max-width: 100%;
	position: relative;
	top: 90vh;
	font-size: 20px;
	background-color: #fff;
}

@media screen and (max-width: 39.9375em) {
	.mainbody {
		top: 92vh;
	}
}

.content {
  max-width: 100%;
  position: relative;
  padding: 50px;
  font-size: 20px;

}

.main-title {
  margin: 0 auto;
  width: 100%;
	text-align: center;
	padding-bottom: 20px;
}

.description > h2 {
	color: #000;
}


.article-image {
  background-color: #f5f5f5;
  height: 300px;
  background-size: cover;
}

.description {
  padding: 20px;
  /*margin-bottom: 30px;*/
  text-align: center;
	min-height: 220px;
}

.callout {
  background-color: #F0F8FF;
  width: 100%;
  border: none;
}

.spacer {
  background-color: #fff;
  width: 100%;
  border: none;
}

.pagination {
	margin: 0 auto;
	text-align: center;
	padding-bottom: 50px;
}

.description > a {
	display: inline-block;
  position: relative;
	font-weight: 900;
  font-size: 1.75em;
	color: #000;
	line-height: 1.2;
}

.description > a:hover {
	color: rgba(0, 0, 0, 0.6);
}

@media screen and (min-width: 40em) {
	.content {
		padding: 80px 10px 10px 10px;
	}
}

@media screen and (max-width: 39.9375em) {
	.content {
		padding: 25px 10px 10px 10px;
	}

}

/*Post Content*/
.post-content {
  max-width: 800px;
  position: relative;
  padding: 80px 50px 50px 50px;
  font-size: 20px;
	margin: 0 auto;
}

/*.post-content::first-line {
	font-variant-caps: titling-caps;
	font-weight: bolder;
	font-size: 1.25em;
	}*/

@media screen and (max-width: 39.9375em) {
	.post-content {
		padding: 30px 24px;
	}
}

blockquote {
    /*margin: 0 0 1rem 10rem;*/
    padding: 1rem;
    border-left: 8px solid;
}

blockquote p {
	margin-bottom: 0;
}


blockquote, blockquote p {
    line-height: 1.25;
    color: #000;
		font-weight: 900;
		font-size: 1.25em;
}

@media screen and (max-width: 39.9375em) {
	blockquote {
			margin: 0 0 1rem 0;
	}
}


/*Featured Video*/

.video-title{
	border-left: solid 1px #000;
	border-bottom:  solid 1px #000;
	border-right:  solid 1px #000;
	margin-bottom: 50px;
	height: 30px;
}

.video-text {
	background-color: #fff;
	width: 260px;
	margin: 0 auto;
	position: relative;
	top: 4px;
	text-align: center;
}

.video-text > p {
	font-family: 'proxima-nova', sans-serif;
	font-weight: 300;
	font-size: 2rem;
}

@media screen and (max-width: 39.9375em) {
	.video-text > p {
		font-size: 1.5rem;
	}

	.video-text {
		width: 200px;
		top: 10px;
	}

}


/*Footer*/

.full-width {
  width: 100%;
	display: flex;
}

.footer {
  background-color: #000;
  color: #fff;
	background-image: url("/images/bgtr.png");
	background-size: cover;
}

.footer i {
  font-size: 1.25em;
}

.footer p {
  font-weight: 300;
  color: #fff;
  font-family: 'proxima-nova', sans-serif;
	font-size: 1rem;
	margin-bottom: 0;
}

.footer h2 {
  font-weight: 600;
  color: #fff;
	font-size: 1.25rem;
	margin-bottom: 0;
}

.footer a {
	color: #fff;
	font-family: 'proxima-nova', sans-serif;
	font-weight: 300;
}

.footer a:hover {
	color: rgba(255, 255, 255, 0.8);
}

.footer-message {
	max-width: 500px;
	margin: 0 auto;
	padding: 0 24px;
}
.footer-top {
	height: 70px;
	background-color: rgba(0, 0, 0, 0.7);
	width: 100%;
	margin-bottom: 2em;
	padding: 0 .3em;
	back
}

.footer-bottom {
	height: 70px;
	background-color: rgba(0, 0, 0, 0.7);
	width: 100%;
	margin-top: 2em;
	padding: 0 .3em;
}

.top-left {
	display: flex;
	flex-direction: column;
	justify-content: center;
	height: 70px;
}

.top-left-child {
	text-align: left;
}

.top-right {
	display: flex;
	flex-direction: column;
	justify-content: center;
	height: 70px;
}

.top-right-child {
	text-align: -webkit-right;
}

.top-middle {
	height: 70px;
	display: flex;
	justify-content: center;
	flex-direction: column;
}

.bottom-middle {
	height: 70px;
	display: flex;
	text-align: center;
	justify-content: center;
	flex-direction: column;

}

.bottom-middle > p {
	font-size: .75em;
}

.social {

}


.footer-mc-field-group {
	display: flex;
	flex-direction: row;
}

.email {
	margin: 0;
}

#mc_embed_signup form {
	padding: 0;
}

.footer .button {
	margin: 0 0 0 10px;
	padding: 10px;
	background-color: #1a1a1a;
	height: 39px
}

.footer .button:hover {
	background-color: #333;
}

@media screen and (max-width: 63.9375em) {

	.footer {
		background-position: center;
	}

	.footer-top {
		height: 140px;
	}

	.footer-bottom {
		height: 100px;
	}
	.footer-container .columns {
		padding: 0;
	}

	.footer-content {
		padding: 25px!important;
	}

	.top-middle {
		height: 0px;
		display: flex;
		justify-content: center;
		flex-direction: column;
	}

	.top-left-child {
		text-align: center;
	}

	.top-right-child {
		text-align: -webkit-center;
	}

	.bottom-middle {
		height: 100px;
		padding: 0 25px;
	}

	.bottom-middle > p {
		/*font-size: .55em;*/
	}

	.footer p {
		font-size: 1.25rem;
	}

	.footer h2 {
		font-size: 1.5rem;
	}


}

.footer-links {
  list-style-type: none;
}
.footer-links li {
  margin-top
}

.author-image{
	width: 200px;
	height: 200px;
	background-position: center;
	background-size: cover;
	border-radius: 50%;
}

.author-image-outer {
	/*width: 100%;*/
	display: flex;
  align-items: center;
  justify-content: center;
	padding: 30px 0;
}

.author {
	background-color: #f5f5f5;
	margin-bottom: 30px;
	padding: 20px;
}

@media screen and (max-width: 63.9375em) {
	.author {
		margin-bottom: 0;
		padding: 24px;
	}
	.author-bio {
		padding: 0;
	}
}

/*404*/

.error {
	height: 100vh;
	display: flex;
  align-items: center;
  justify-content: center;
}

.error-content {
	color: #fff;
	text-align: center;
}

.error-content > h2 {
	font-family: 'Frank Ruhl Libre', sans-serif;
	font-weight: 900;
	font-size: 2em;
}

.error-content img {
	max-width: 500px;
	margin-bottom: 100px;
}

.error-content p {
	font-weight: 300;
	color: #fff;
	font-family: 'proxima-nova', sans-serif;
	font-size: 1.1rem;
}

.error-content a {
	color: #fff;
	font-family: 'proxima-nova', sans-serif;
	font-weight: 700;
}

.error-content a:hover {
	color: rgba(255, 255, 255, 0.8);
}

/*Team*/

.team-card {
	margin-bottom: 30px;

}

.team-card-inner {
		background-color: #f5f5f5;
		padding: 30px 0 30px 0;
		text-align: center;
		margin-right: 0;
}

.team-content p {
	font-family: 'proxima-nova', sans-serif;
	font-weight: 300;
	font-size: .85em;
	line-height: 1;
}

.team-title p {
	font-weight: 400;
	font-size: .9em
}

.team-image {
	width: 175px;
	height: 175px;
	background-position: center;
	background-size: cover;
	border-radius: 50%;
	margin: 0 auto;
}

.team-content {
	margin-top: 20px;
}

.team-content h3 {
	font-size: 1.25em;
}


.team-content i {
	font-size: 1.25em;
	margin: 10px 10px 0 0;
}

.member-content {
	padding-left: 5px;
	padding-top: 10px;
}

.member-content h3 {
	font-size: 1em;
}

.member-content p {
	font-family: 'proxima-nova', sans-serif;
	font-weight: 300;
	font-size: .85em;
	line-height: 1;
}

.member-image {
	width: 75px;
	height: 75px;
	background-position: center;
	background-size: cover;
	border-radius: 50%;
	margin: 0 auto;
}

.member-title p {
	font-weight: 400;
	font-size: .75em
}

.member-card {
	margin-bottom: 30px;
}

.member-card-inner {
		background-color: #f5f5f5;
		padding: 20px;
		/*text-align: center;*/
		margin-right: 0;
		height: 115px;
}

@media screen and (max-width: 63.9375em) {
	.team-card {

	}
}

@media screen and (max-width: 39.9375em) {
	.team-card {
		padding-right: 25px;
		padding-left: 25px;
	}

	.member-card {
		padding-right: 25px;
		padding-left: 25px;
	}
}

/*Social Sharing */
.twitter-share {
	display: inline-block;
	margin: 10px;
}

.fb-share-button {
	display: inline-block;
	top: -9px;
}

@media screen and (max-width: 39.9375em) {
	.fb-share-button {
		top: -19px;
	}
}

/*Mailing List*/

.reveal {
	border: none;
	border-radius: 0;
	padding: 2rem;
	background-color: #f9f9f9;
	background-image: url("/images/flowers.png");
	background-size: contain;
	background-repeat: no-repeat;
	background-position: bottom;
}

#mc_embed_signup_scroll > p {
	font-family: 'proxima-nova', sans-serif;
}

.mc-field-group > label {
	font-family: 'proxima-nova', sans-serif;
}

.mc-field-group > p {
	font-family: 'proxima-nova', sans-serif;
}

.mc-field-group > ul {
  list-style-type: none;
	padding: 0;
	margin: 0;
	font-family: 'proxima-nova', sans-serif;
}

[type='text'], [type='password'], [type='date'], [type='datetime'], [type='datetime-local'], [type='month'], [type='week'], [type='email'], [type='number'], [type='search'], [type='tel'], [type='time'], [type='url'], [type='color'],
textarea {
	border: 1px solid #d0d0d0;
	border-radius: 0;
	box-shadow: none;
	font-family: 'proxima-nova', sans-serif;

}

.scroll {
  width: 75px;
  position: fixed;
  right: 30px;
  bottom: 30px;
  padding-top: 10px;
  padding-bottom: 10px;
  z-index: 1000;
	display: none;
}

.ml-button {
	border-radius: 50%;
	background-color: #000000;
	color: #fff;
	cursor: pointer;
	transition: background-color 0.25s ease-out, color 0.25s ease-out;
	font-size: 0.9rem;
	padding: 30px 0px;
}


.ml-button:hover, .ml-button:focus {
  background-color: #333;
  color: #fff; }

@media print, screen and (min-width: 40em){
.reveal {
    width: 420px;
    max-width: 62.5rem;
	}
}

@media print, screen and (max-width: 39.9375em) {
	.mailing-button {
		display: none;
	}
}

/*Pagination*/

ul.pager {
	margin: 0;
}

.pagination li {
    min-width: 120px;
}


/*Categories*/

.cat-content {
  max-width: 800px;
  position: relative;
  padding: 80px 50px 50px 50px;
  font-size: 20px;
	margin: 0 auto;
}


@media screen and (max-width: 39.9375em) {
	.cat-content {
		padding: 30px 24px;
	}
}

/*Positions*/
table {
    background-color: transparent;
		border-collapse: collapse;
		border: 0;
}



table thead {
    background: transparent;
		border-bottom: 1px solid pink;
		font-family: 'proxima-nova', sans-serif;
		font-weight: 400!important;
		font-size: 1.25rem;
		font-variant-caps: all-petite-caps;
}

table thead, table tbody, table tfoot {
    border: none;
    background-color: transparent;
}

tr {
	font-family: 'proxima-nova', sans-serif;
	border-bottom: 1px solid #cdcdcd;
	font-weight: 300;
	font-size: 1rem;
}

table.unstriped tbody tr {
    border-bottom: 0;
    border-bottom: 1px solid #cdcdcd;
    background-color: none;
}

table tbody th, table tbody td {
    padding: 0.75rem 0.625rem 0.625rem;
}

.join-title {
	padding-top: 80px;
}

.join-text {
	max-width: 500px;
	text-align: center;
}

.join-button {
	font-family: 'proxima-nova', sans-serif;
}

.cool {
	font-family: 'proxima-nova', sans-serif;
	font-size: 1rem;
}

.join-card-inner {
		background-color: #f5f5f5;
		padding: 30px;
		text-align: center;
		margin-right: 0;
}

ul {
	margin-left: 0;
}
ul.line-separated
	 {
			 background-color: #cccccc;
			 padding: 0;
			 /*margin-left: 1em;*/
	 }
	 ul.line-separated li
	 {
			 background-color: white;
			 margin: 1px 0 0 0;
			 padding: 1em;
			 list-style-type: none;
			 font-family: 'proxima-nova', sans-serif;
			 font-weight: 300;
			 font-size: .85em;

	 }
	.category-title {
		padding-top: 80px;
	}

	a.post-tag {
		margin-right: 50px;
	}

	/*Position Content*/

	.position-content {
	  max-width: 800px;
	  position: relative;
	  padding: 80px 50px 50px 50px;
	  font-size: 20px;
		margin: 0 auto;
	}

	.position-content > p {
		font-family: 'proxima-nova', sans-serif;
		font-weight: 300;
		font-size: .85em;
	}

	.position-content > ul {
		font-family: 'proxima-nova', sans-serif;
		font-weight: 300;
		font-size: .85em;
	}



	@media screen and (max-width: 39.9375em) {
		.position-content {
			padding: 30px 24px;
		}
	}

	/* zinefest */

	.zine-header {
		background-color: #fff;
		width: 100vw;
		height: 100vh;
		display: flex;
		flex-direction: row;
		align-items: center;
		justify-content: center;
	}

	.zine-header-center {
		width: calc(100vw - 80px);
		height: calc(100vh - 80px);

		display: flex;
		flex-direction: row;
		align-items: center;
		justify-content: center;
	}

.zine-background {
	background-image: url("/images/zine-bg-2.png");
	background-size: cover;
	background-color: #f9f9f9;
}


	.zine-logo {
		background-image: url("/images/zine-logo.png");
		background-size: cover;
		width: 400px;
		height: 400px;
		background-blend-mode: lighten;
	}


	.zine-body {
		background-color: #fff;
		display: flex;
		flex-direction: column;
		align-items: center;
	}

	.zine-panel {
		width: calc(100vw - 80px);
		min-height: calc(100vh - 80px);

		padding: 30px;
		margin: 40px 0;

		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
	}

	.zine-text {
		max-width: 600px;
	}

	.zine-text > p, .zine-text > ul > li {
    font-family: 'proxima-nova', sans-serif;
    font-weight: 300;
    font-size: 1rem;
	}

	h2.zine-title-1 {
	    text-align: center;
	    font-size: 2.5rem;
			color: navy;
	}
	h2.zine-title-2 {
			text-align: center;
			font-size: 2.5rem;
			font-family: 'proxima-nova', sans-serif;
			text-transform: uppercase;
	}
	h2.zine-title-3 {
			text-align: center;
			font-size: 2.5rem;
	}
	h2.zine-title-4 {
			text-align: center;
			font-size: 2.5rem;
			font-family: 'proxima-nova', sans-serif;
			text-transform: uppercase;
			font-weight: 100;
			color: blue;
	}
	h2.zine-title-5 {
			text-align: center;
			font-size: 2.5rem;
			font-weight: 300;
	}

	.zine-info {
    border: 2px dashed blue;
    padding: 30px;

}

.zine-wave {
	color: blue;
	font-size: 1.5em;
}

p.zine-center {
    text-align: center;
}
	.bg-grey {
	background-color: #f9f9f9;
	}

	.zine-presenters {
		width: 100%;
	}

	.zine-column {
		display: flex;
		flex-direction: column;
		align-items: center;
	}

	img.zine-image {
    max-width: 200px;
    margin: 30px 0;
}

@media screen and (max-width: 39.9375em) {
	.zine-logo {

		width: 200px;
		height: 200px;
	}
	.zine-panel {
		width: calc(100vw - 40px);
		min-height: calc(100vh - 40px);

		padding: 30px;
		margin: 20px 0;

	}

	.zine-header-center {
		width: calc(100vw - 40px);
		height: calc(100vh - 40px);
	}

}
