body {
	font-family: 'Frank Ruhl Libre', sans-serif;
	font-weight: 300;
  background-color: #000;
}

h1 {
	font-family: 'Frank Ruhl Libre', sans-serif;
  font-style: italic;
  font-weight: 700;
}

h2 {
	font-family: 'Frank Ruhl Libre', sans-serif;
  font-weight: 900;
  font-size: 1.5em;
}

@media screen and (min-width: 40em) {
  h1 {
    font-size: 3rem; }
  h2 {
    font-size: 2.2rem; }
  h3 {
    font-size: 1.9375rem; }
  h4 {
    font-size: 1.5625rem; }
  h5 {
    font-size: 1.25rem; }
  h6 {
    font-size: 1rem; } }

.subtitle > p {
  font-family: 'proxima-nova', sans-serif;
  font-weight: 300;
  font-size: 1rem;
}

a {
	transition: color 0.25s ease-out;
}

/*header*/

.parallax-background {
  background-color: #f5f5f5;
	height: 100vh;
	background-repeat: no-repeat;
	-webkit-background-size: cover;
  	-moz-background-size: cover;
  	-o-background-size: cover;
	background-size: cover;
	position: fixed;
	width: 100%;
}

.parallax-background-post {
  background-color: #f5f5f5;
	height: 100vh;
	background-repeat: no-repeat;
	-webkit-background-size: cover;
  	-moz-background-size: cover;
  	-o-background-size: cover;
	background-size: cover;
	position: fixed;
	width: 100%;
}

.intro-container {
	font-size: 50px;
	color: #fff;
	text-align: center;
	margin-top: 40vh;
	position: absolute;
	z-index: 100;
	width: 100%;
}

.intro-logo {
	margin: 0 auto;
}

.feature-blurb > a {
	color: #fff;
}

.feature-blurb > a:hover {
	color: rgba(255, 255, 255, 0.8);
}

/*Feature*/

.feature-title {
	max-width: 700px;
	margin: 0 auto;
	padding-top: 20px;
}

.feature-title > p {
	font-family: 'Frank Ruhl Libre', sans-serif;
	font-weight: 900;
	font-size: 3.5rem;
	line-height: 1.25;
	text-transform: capitalize;
	color: #fff;
}

.feature-title > a {
	font-family: 'Frank Ruhl Libre', sans-serif;
	font-weight: 900;
	font-size: 3.5rem;
	line-height: 1.25;
	text-transform: capitalize;
	color: #fff;
	display: inline-block;
  position: relative;
}

.feature-title > a:hover {
	color: rgba(255, 255, 255, 0.8);
}

/*.feature-title > a::after {
  content: '';
  position: absolute;
  left: 0;
  display: inline-block;
  height: 1em;
  width: 100%;
  border-bottom: 1px solid #b366b3;
  margin-top: 5px;
}*/

/*.feature-title > a:hover:after {
  content: '';
  position: absolute;
  left: 0;
  display: inline-block;
  height: 1em;
  width: 100%;
  border-bottom: 1px solid #c488c4;
  margin-top: 5px;
}*/

.feature-subtitle > p {
	font-family: 'proxima-nova', sans-serif;
	font-weight: 400;
	font-size: 1rem;
}

@media screen and (max-width: 39.9375em) {
	.feature-title > p {
		font-weight: 700;
		font-size: 2rem;
	}

	.feature-title > a {
		font-size: 2rem;
		font-weight: 700;
	}

	.feature-title {
		max-width: 6em;
		margin: 0 auto;
		padding-top: 20px;
	}

}

/*Navigation*/

.top-bar-container {
  width: 100%;

}

.sticky {
  width: 100%;
  height: 10vh;
	background-color: #fff;
	border-bottom: solid 1px #e6e6e6;
}

.top-bar {
  height: 10vh;
  background-color: transparent;
	/*border-bottom: solid 1px #e6e6e6;*/
  position: relative;
  max-width: 62.5rem;
  margin: 0 auto;
  font-family: 'proxima-nova', sans-serif;
  font-weight: 500;
  font-size: 1rem;
  color: #fff;
}

.top-bar ul {
  background-color: transparent;
}

.menu-item a {
    color: #000;
    text-transform: uppercase;
		display: inline-block;
		position: relative;
}


.menu a:hover {
	color: rgba(0, 0, 0, 0.8);
}

.menu-item a:hover:after {
  content: '';
  position: absolute;
  left: 0;
  display: inline-block;
  height: 1em;
  width: 100%;
  border-bottom: 5px solid #e6e6e6;
	border-left: 5px solid #e6e6e6;
	border-right: 5px solid #e6e6e6;
  margin-top: 5px;
}

.main-menu {
  position: absolute;
top: 50%;
transform: translateY(-50%);
}

.top-bar-right{
  position: absolute;
top: 50%;
transform: translateY(-50%);
right: 0%;
}

.menu-logo {
  padding-right: 16px;
}

.button {
  background-color: #f5f5f5;
	color: #000;
}

.button:hover, .button:focus {
  background-color: #e8e8e8;
  color: #000; }



/*Content*/

.mainbody {
	max-width: 100%;
	position: relative;
	top: 90vh;
	font-size: 20px;
	background-color: #fff;
}

.content {
  max-width: 100%;
  position: relative;
  padding: 50px;
  font-size: 20px;

}

.main-title {
  margin: 0 auto;
  width: 100px;
}

.description > h2 {
	color: #000;
}


.article-image {
  background-color: #c488c4;
  height: 300px;
  background-size: cover;
}

.description {
  padding: 20px;
  margin-bottom: 30px;
  text-align: center;
	min-height: 190px;
}

.callout {
  background-color: #F0F8FF;
  width: 100%;
  border: none;
}

.spacer {
  background-color: #fff;
  width: 100%;
  border: none;
}

.pagination {
	margin: 0 auto;
	text-align: center;
	padding-bottom: 50px;
}

.description > a {
	display: inline-block;
  position: relative;
	font-weight: 900;
  font-size: 1.75em;
	color: #000;
	line-height: 1.2;
}

.description > a:hover {
	color: rgba(0, 0, 0, 0.6);
}

/*.description > a::after {
  content: '';
  position: absolute;
  left: 0;
  display: inline-block;
  height: 1em;
  width: 100%;
  border-bottom: 1px solid #b366b3;
  margin-top: 5px;
}*/

/*.description > a:hover:after {
  content: '';
  position: absolute;
  left: 0;
  display: inline-block;
  height: 1em;
  width: 100%;
  border-bottom: 1px solid #c488c4;
  margin-top: 5px;
}*/

@media screen and (min-width: 40em) {
	.content {
		padding: 80px 10px 10px 10px;
	}
}

@media screen and (max-width: 39.9375em) {
	.content {
		padding: 25px 10px 10px 10px;
	}

}

/*Post Content*/
.post-content {
  max-width: 800px;
  position: relative;
  padding: 80px 50px 50px 50px;
  font-size: 20px;
	margin: 0 auto;
}

.post-content > p > a {
	display: inline-block;
  position: relative;
	color: #000;
}


.post-content > p > a::after {
  content: '';
  position: absolute;
  left: 0;
  display: inline-block;
  height: 1em;
  width: 100%;
  border-bottom: 1px solid #b366b3;
  margin-top: 5px;
}

.post-content > p > a:hover:after {
  content: '';
  position: absolute;
  left: 0;
  display: inline-block;
  height: 1em;
  width: 100%;
  border-bottom: 1px solid #c488c4;
  margin-top: 5px;
}

/*Featured Video*/

.video-title{
	border-left: solid 1px #000;
	border-bottom:  solid 1px #000;
	border-right:  solid 1px #000;
	margin-bottom: 50px;
	height: 30px;
}

.video-text {
	background-color: #fff;
	width: 260px;
	margin: 0 auto;
	position: relative;
	top: 4px;
	text-align: center;
}

.video-text > p {
	font-family: 'proxima-nova', sans-serif;
	font-weight: 300;
	font-size: 2rem;
}

@media screen and (max-width: 39.9375em) {
	.video-text > p {
		font-size: 1.5rem;
	}

	.video-text {
		width: 200px;
		top: 10px;
	}

}


/*Footer*/

.full-width {
  width: 100%;
	display: flex;
}

.footer {
  background-color: #000;
  padding-top: 2rem;
  text-align: center;
  color: #fff;
	background-image: url("/images/bgtr.png");
	background-size: cover;
}

.footer i {
  font-size: 2em;
}

.footer h4 {
  color: #000;
  font-size: 1em;
  font-weight: 400;
  text-transform: uppercase;
  margin-top: 2.5rem;
  margin-bottom: 10px;
}
.footer p {
  font-weight: 300;
  color: #fff;
  font-family: 'proxima-nova', sans-serif;
	font-size: 1.1rem;
}

.footer a {
	color: #fff;
	font-family: 'proxima-nova', sans-serif;
	font-weight: 700;
}

.footer a:hover {
	color: rgba(255, 255, 255, 0.8);
}

.footer-message {
	max-width: 500px;
	margin: 0 auto;
}

.footer-bottom {
	height: 70px;
	background-color: #000;
	width: 100%;
	margin-top: 2em;
	padding: 0 .3em;
}

.bottom-left {
	display: flex;
	flex-direction: column;
	justify-content: center;
	height: 70px;
}

.bottom-left-child {
	padding-top: 12px;
	text-align: left;
}

.bottom-right {
	display: flex;
	flex-direction: column;
	justify-content: center;
	height: 70px;
}

.bottom-right-child {
	padding-top: 12px;
	text-align: right;
}

.bottom-middle {
	height: 70px;
	display: flex;
	justify-content: center;
	flex-direction: row;
}

.social {
	padding-top: 4px;
}


@media screen and (max-width: 63.9375em) {
	.footer-bottom {
		height: 210px;
	}

	.bottom-left-child {
		text-align: center;
	}

	.bottom-right-child {
		text-align: center;
	}
}

.footer-links {
  list-style-type: none;
}
.footer-links li {
  margin-top
