<div class="main-title" id="alumni">
  <h2>Alumni</h2>
</div>

<div class="row">
  <div class="small-12 medium-6 large-4 columns member-card end">
    <div class="member-card-inner">
      <div class="member-content">
        <h3>Aldo Montijo</h3>
        <div class="member-title">
          <p>Designer</p>
        </div>
      </div>
    </div>
  </div>
  <div class="small-12 medium-6 large-4 columns member-card">
    <div class="member-card-inner">
      <div class="member-content">
        <h3>Alexandra Krueger</h3>
        <div class="member-title">
          <p>Managing Editor</p>
        </div>
      </div>
    </div>
  </div>
  <div class="small-12 medium-6 large-4 columns member-card">
    <div class="member-card-inner">
      <div class="member-content small-8 columns">
        <h3>Carmel Dor</h3>
        <div class="member-title">
          <p>Art Editor / Curator</p>
        </div>
      </div>
    </div>
  </div>
  <div class="small-12 medium-6 large-4 columns member-card ">
    <div class="member-card-inner">
      <div class="member-content">
        <h3>Clara Gallagher</h3>
        <div class="member-title">
          <p>Co-Founder</p>
        </div>
      </div>
    </div>
  </div>
  <div class="small-12 medium-6 large-4 columns member-card">
    <div class="member-card-inner">
      <div class="member-content">
        <h3>Joshua Edalgo</h3>
        <div class="member-title">
          <p>Co-Founder</p>
        </div>
      </div>
    </div>
  </div>
  <div class="small-12 medium-6 large-4 columns member-card end">
    <div class="member-card-inner">
      <div class="member-content small-8 columns">
        <h3>Netta Schwarz</h3>
        <div class="member-title">
          <p>Programs Design Intern</p>
        </div>
      </div>
    </div>
  </div>
</div>
