<div class="main-title">
  <h2>Board Members</h2>
</div>

<div class="row">
  <div class="small-12 medium-6 large-4 columns member-card">
    <div class="member-card-inner">
      <div class="member-content">
        <h3>Bridget Gallagher</h3>
        <div class="member-title">
          <p>Treasurer</p>
        </div>
      </div>
    </div>
  </div>
  <div class="small-12 medium-6 large-4 columns member-card ">
    <div class="member-card-inner">
      <div class="member-content">
        <h3>Emily Oestreicher</h3>
        <div class="member-title">
          <p>Board Member</p>
        </div>
      </div>
    </div>
  </div>
  <div class="small-12 medium-6 large-4 columns member-card ">
    <div class="member-card-inner">
      <div class="member-content">
        <h3>Garrett Compton Daniells</h3>
        <div class="member-title">
          <p>Chair of the Board</p>
        </div>
      </div>
    </div>
  </div>
  <div class="small-12 medium-6 large-4 columns member-card ">
    <div class="member-card-inner">
      <div class="member-content">
        <h3>Kandi Howe</h3>
        <div class="member-title">
          <p>Board Member</p>
        </div>
      </div>
    </div>
  </div>
  <div class="small-12 medium-6 large-4 columns member-card end">
    <div class="member-card-inner">
      <div class="member-content">
        <h3>Lange Luntao</h3>
        <div class="member-title">
          <p>Secretary</p>
        </div>
      </div>
    </div>
  </div>
</div>
