<footer class="footer">

  <div class="row full-width">
    <div class="column footer-message">
      <h2>Hey There.</h2>
      <p>Thanks for visiting Placeholder, we really appreciate you. Placeholder is run completely by volunteers. You can learn more <a href="/about/">about</a> us, or how to <a href="/get-involved/">get involved</a>.</p>
    </div>
  </div>
  <div class="footer-bottom">
    <div class="column small-12 medium-12 large-4 bottom-left">
      <div class="bottom-left-child">
      <p><a href="mailto:suhdude@placeholdermag.com">suhdude@placeholdermag.com</a><p>
      </div>
    </div>
    <div class="column small-12 medium-12 large-4 bottom-middle">
      <ul class="social menu" >
        <li class="social-item"><a href="https://www.facebook.com/placeholdermagazine"><i class="fa fa-facebook-square" aria-hidden="true"></i></a></li>
        <li class="social-item"><a href="https://www.instagram.com/placeholdermagazine/"><i class="fa fa-instagram" aria-hidden="true"></i></a></li>
        <li class="social-item"><a href="https://twitter.com/PlaceholderMag"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
        <li class="social-item"><a href="https://github.com/andrewhemans/placeholder"><i class="fa fa-github" aria-hidden="true"></i></a></li>
      </ul>
    </div>
    <div class="column small-12 medium-12 large-4 bottom-right">
      <div class="bottom-right-child">
      <p>Placeholder is a non-profit.<p>
      </div>
    </div>
  </div>


  <script src="/js/vendor/jquery.js"></script>
  <script src="/js/vendor/what-input.js"></script>
  <script src="/js/vendor/foundation.js"></script>
  <script src="/js/app.js"></script>
</footer>
