<header class="site-header">

  <div class="intro-container">
    {% for posts in site.posts limit:1 %}
    <div class="intro-logo">
      <img src="/images/logo.svg" />
    </div>
    <div class="feature">
      <div class="feature-title">
        <p>{{ post.title }}</p>
      </div>
      <div class="feature-subtitle">
        <p>{{ post.date | date: '%B %d, %Y' }} | {{ post.author }}</p>
      </div>
      <div class="feature-blurb">
      </div>
    </div>
    {% endfor %}
  </div>

  <div class="parallax-background" id="1">
  </div>

</header>
