<header class="site-header">

  <div class="intro-container">
    <div class="intro-logo">
      <img src="images/logo.svg" />
    </div>
    <div class="feature">
      <div class="feature-title">
        <p>Brandon Getty's Maps To Stockton Vol. 1 Release</p>
      </div>
      <div class="feature-subtitle">
        <p>Photography | November 24 | By Ryan Camero</p>
      </div>
      <div class="feature-blurb">
      </div>
    </div>

  </div>

  <div class="parallax-background" id="1">


  </div>

</header>
