<header class="site-header">
  {% for post in site.posts limit:1 %}
    {% if post.featured == true %}
      <div class="intro-container">
        <div class="intro-logo">
          <img src="/images/logo-white.svg" />
        </div>
        <div class="feature">
          <div class="feature-title">
            <a href="{{ post.url }}">{{ post.title }}</a>
          </div>
          <div class="feature-subtitle">
            <p>{{ post.date | date: '%B %d, %Y' }} | {{ post.author }}</p>
          </div>
          <div class="feature-blurb">
            <a href="#page"><p>&#8595</p></a>
          </div>
        </div>
      </div>
      <div class="parallax-background" id="1" style="background-image: url({{ post.image }});">
      </div>
    {% endif %}
  {% endfor %}
</header>
