<div class="main-title">
  <h2>Contributing Members</h2>
</div>

<div class="row">
  <div class="small-12 medium-6 large-4 columns member-card">
    <div class="member-card-inner">
      <!-- <div class="member-image small-4 columns"  style="background-image: url('/uploads/Cameron.jpg');">
      </div> -->
      <div class="member-content small-8 columns">
        <h3>Andrea Careaga</h3>
        <div class="member-title">
          <p>Multimedia Intern</p>
        </div>
      </div>
    </div>
  </div>

  <div class="small-12 medium-6 large-4 columns member-card end">
    <div class="member-card-inner">
      <!-- <div class="member-image small-4 columns"  style="background-image: url('/uploads/Andrew.jpg');">
      </div> -->
      <div class="member-content small-8 columns">
        <h3>Connie Reyes</h3>
        <div class="member-title">
          <p>Contributor</p>
        </div>
      </div>
    </div>
  </div>
  <div class="small-12 medium-6 large-4 columns member-card end">
    <div class="member-card-inner">
      <!-- <div class="member-image small-4 columns"  style="background-image: url('/uploads/Andrew.jpg');">
      </div> -->
      <div class="member-content small-8 columns">
        <h3>Hayley Walker</h3>
        <div class="member-title">
          <p>Technical Writer, Intern</p>
        </div>
      </div>
    </div>
  </div>

  <div class="small-12 medium-6 large-4 columns member-card end">
    <div class="member-card-inner">
      <!-- <div class="member-image small-4 columns"  style="background-image: url('/uploads/Andrew.jpg');">
      </div> -->
      <div class="member-content small-8 columns">
        <h3>Lauren Hook</h3>
        <div class="member-title">
          <p>Copy Editor</p>
        </div>
      </div>
    </div>
  </div>
  <div class="small-12 medium-6 large-4 columns member-card">
    <div class="member-card-inner">
      <!-- <div class="member-image small-4 columns"  style="background-image: url('/uploads/Cameron.jpg');">
      </div> -->
      <div class="member-content small-8 columns">
        <h3>Natalie Watkins</h3>
        <div class="member-title">
          <p>Organizer</p>
        </div>
      </div>
    </div>
  </div>

  <div class="small-12 medium-6 large-4 columns member-card end">
    <div class="member-card-inner">
      <!-- <div class="member-image small-4 columns"  style="background-image: url('/uploads/Andrew.jpg');">
      </div> -->
      <div class="member-content small-8 columns">
        <h3>Ramiz Haddad</h3>
        <div class="member-title">
          <p>Multimedia Intern</p>
        </div>
      </div>
    </div>
  </div>



</div>
