<div class="top-bar-container" data-sticky-container>
  <div class="sticky" data-sticky data-options="anchor: page; marginTop:0; stickyOn: small;">

    <div class="title-bar" data-responsive-toggle="" data-hide-for="medium">
      <button class="menu-icon" type="button" data-open="mobile-menu"></button>
      <div class="title-bar-title"><a href="/index.html"><img src="/images/logo-black.svg" width="71px" /></a></div>
    </div>

    <div class="top-bar">
      <div class="row main-menu">
        <div class="top-bar-left">
          <ul class="dropdown menu" data-dropdown-menu>
            <li class="menu-logo"><a href="/index.html"><img src="/images/logo-black.svg" width="71px" /></a></li>
            <!-- <li class="has-submenu">
              <a href="#content">Categories</a>
              <ul class="submenu menu vertical" data-submenu>
                <li><a href="#">Art</a></li>
                <li><a href="#">Literature</a></li>
                <li><a href="#">Culture</a></li>
              </ul>
            </li> -->
            <li class="menu-item"><a href="/about/">About</a></li>
            <li class="menu-item"><a href="#featured-video">Video</a></li>
            <!-- <li class="menu-item"><a href="#">Store</a></li> -->
          </ul>
        </div>
      </div>
      <div class="top-bar-right">
        <ul class="menu">
          <li>
            <button type="button" class="button">Get Involved</button>
          </li>
        </ul>
      </div>
    </div>
  </div>
  <div class="mobile-menu reveal full" id="mobile-menu" data-reveal>

    <button class="menu-close-button" data-close aria-label="Close modal" type="button">
    <span aria-hidden="true">&times;</span>
    </button>

    <ul class="menu vertical mobile-vertical">
      <li class=""><a href="/index.html">Home</a></li>
      <li class=""><a href="/about/">About</a></li>
      <li class=""><a href="/index.html#featured-video">Video</a></li>
      <li class=""><a href="/get-involved/">Get Involved</a></li>
      <!-- <li class="menu-item"><a href="#">Store</a></li> -->
    </ul>
  </div>
</div>
