<div class="main-title">
  <h2>Placeholder Team</h2>
</div>

<div class="row">
  <div class="small-12 medium-6 large-4 columns team-card">
    <div class="team-card-inner">
      <div class="team-image"  style="background-image: url('/uploads/Aida.jpg');">
      </div>
      <div class="team-content">
        <h3>Aida Lizalde</h3>
        <div class="team-title">
          <p>Arts Programs Coordinator</p>
        </div>
        <p>Outreach</p>
        <a href="http://cargocollective.com/aidalizaldeart"><i class="fa fa-globe" aria-hidden="true"></i></a>
        <a href="https://www.instagram.com/idea_aida/"><i class="fa fa-instagram" aria-hidden="true"></i></a>
      </div>
    </div>
  </div>
  <div class="small-12 medium-6 large-4 columns team-card ">
    <div class="team-card-inner">
      <div class="team-image"  style="background-image: url('/uploads/Andrew.jpg');">
      </div>
      <div class="team-content">
        <h3>Andrew Hemans</h3>
        <div class="team-title">
          <p>Design Coordinator</p>
        </div>
        <p>Editorial</p>
        <a href="https://github.com/andrewhemans/"><i class="fa fa-github" aria-hidden="true"></i></a>
        <a href="https://www.linkedin.com/in/andrewhemans"><i class="fa fa-linkedin" aria-hidden="true"></i></a>
        <a href="https://www.instagram.com/andrewhemans/"><i class="fa fa-instagram" aria-hidden="true"></i></a>
      </div>
    </div>
  </div>
  <div class="small-12 medium-6 large-4 columns team-card ">
    <div class="team-card-inner">
      <div class="team-image"  style="background-image: url('/uploads/Angie.jpg');">
      </div>
      <div class="team-content">
        <h3>Angie Rodriguez</h3>
        <div class="team-title">
          <p>Non-Fiction/Fiction Editor</p>
        </div>
        <p>Editorial</p>
        <a href="https://www.linkedin.com/in/angie-rodriguez-a4246584/"><i class="fa fa-linkedin" aria-hidden="true"></i></a>
        <a href="https://www.instagram.com/rodriguez_ang911/"><i class="fa fa-instagram" aria-hidden="true"></i></a>
      </div>
    </div>
  </div>
  <div class="small-12 medium-6 large-4 columns team-card">
    <div class="team-card-inner">
      <div class="team-image"  style="background-image: url('/uploads/Cameron.jpg');">
      </div>
      <div class="team-content">
        <h3>Cameron Getty</h3>
        <div class="team-title">
          <p>Designer</p>
        </div>
        <p>Editorial</p>
        <a href="http://instagram.com/cameronjgetty"><i class="fa fa-instagram" aria-hidden="true"></i></a>
      </div>
    </div>
  </div>
  <div class="small-12 medium-6 large-4 columns team-card">
    <div class="team-card-inner">
      <div class="team-image"  style="background-image: url('/uploads/Cruz.jpg');">
      </div>
      <div class="team-content">
        <h3>Cruz Arredondo</h3>
        <div class="team-title">
          <p>Organizer</p>
        </div>
        <p>Outreach</p>
        <a href="https://www.instagram.com/Cruzi_Cruz/"><i class="fa fa-instagram" aria-hidden="true"></i></a>
      </div>
    </div>
  </div>
  <div class="small-12 medium-6 large-4 columns team-card">
    <div class="team-card-inner">
      <div class="team-image"  style="background-image: url('/uploads/Dana.jpg');">
      </div>
      <div class="team-content">
        <h3>Dana Al-Hindi</h3>
        <div class="team-title">
          <p>Social Media Coordinator</p>
        </div>
        <p>Editorial</p>
        <a href="https://www.instagram.com/da.nuh/"><i class="fa fa-instagram" aria-hidden="true"></i></a>
        <a href="https://www.facebook.com/dana.r.alhindi?ref=bookmarks"><i class="fa fa-facebook" aria-hidden="true"></i></a>
      </div>
    </div>
  </div>
  <div class="small-12 medium-6 large-4 columns team-card">
    <div class="team-card-inner">
      <div class="team-image"  style="background-image: url('/uploads/Garrett.jpg');">
      </div>
      <div class="team-content">
        <h3>Garrett Compton Daniells</h3>
        <div class="team-title">
          <p>Community Organizer</p>
        </div>
        <p>Outreach</p>
        <a href="http://cargocollective.com/garrettcdaniells"><i class="fa fa-globe" aria-hidden="true"></i></a>
        <a href="https://www.instagram.com/sonofasignman/"><i class="fa fa-instagram" aria-hidden="true"></i></a>
      </div>
    </div>
  </div>
  <div class="small-12 medium-6 large-4 columns team-card">
    <div class="team-card-inner">
      <div class="team-image"  style="background-image: url('/uploads/Javier.jpg');">
      </div>
      <div class="team-content">
        <h3>Javier Padilla Reyes</h3>
        <div class="team-title">
          <p>Executive Director</p>
        </div>
        <p>&nbsp;</p>
        <a href="https://www.instagram.com/crunka/"><i class="fa fa-instagram" aria-hidden="true"></i></a>
        <a href="https://www.linkedin.com/in/javier-padilla-10873211b/"><i class="fa fa-linkedin" aria-hidden="true"></i></a>
      </div>
    </div>
  </div>

  <div class="small-12 medium-6 large-4 columns team-card ">
    <div class="team-card-inner">
      <div class="team-image"  style="background-image: url('/uploads/Natalie-p.jpg');">
      </div>
      <div class="team-content">
        <h3>Natalie Petersen</h3>
        <div class="team-title">
          <p>Volunteer Coordinator</p>
        </div>
        <p>Outreach</p>
        <a href="http://www.natilism.com/"><i class="fa fa-globe" aria-hidden="true"></i></a>
        <a href="http://pursuitofhappyness.bigcartel.com/"><i class="fa fa-shopping-cart" aria-hidden="true"></i></a>
      </div>
    </div>
  </div>
  <div class="small-12 medium-6 large-4 columns team-card">
    <div class="team-card-inner">
      <div class="team-image"  style="background-image: url('/uploads/Ryan.jpg');">
      </div>
      <div class="team-content">
        <h3>Ryan Camero</h3>
        <div class="team-title">
          <p>Contributor</p>
        </div>
        <p>Outreach</p>
        <a href="https://www.instagram.com/rcarcamero/"><i class="fa fa-instagram" aria-hidden="true"></i></a>
        <a href="https://facebook.com/ryan.o.camero"><i class="fa fa-facebook" aria-hidden="true"></i></a>
      </div>
    </div>
  </div>
  <!-- <div class="small-12 medium-6 large-4 columns team-card">
    <div class="team-card-inner">
      <div class="team-image"  style="background-image: url('/uploads/Ryan.jpg');">
      </div>
      <div class="team-content">
        <h3>Summer Miglori</h3>
        <div class="team-title">
          <p>Editor-in-Chief</p>
        </div>
        <p>Editorial</p>
        <a href="https://www.instagram.com/rcarcamero/"><i class="fa fa-instagram" aria-hidden="true"></i></a>
        <a href="https://facebook.com/ryan.o.camero"><i class="fa fa-facebook" aria-hidden="true"></i></a>
      </div>
    </div>
  </div> -->
  <div class="small-12 medium-6 large-4 columns team-card end">
    <div class="team-card-inner">
      <div class="team-image"  style="background-image: url('/uploads/Yadira.jpg');">
      </div>
      <div class="team-content">
        <h3>Yadira Varela</h3>
        <div class="team-title">
          <p>Marketing Coordinator</p>
        </div>
        <p>Editorial</p>
        <a href="http://linkedin.com/yadiravarela/"><i class="fa fa-linkedin" aria-hidden="true"></i></a>
      </div>
    </div>
  </div>
</div>
