<div class="row">
  <div class="small-12 medium-6 large-4 columns team-card">
    <div class="team-image"  style="background-image: url('/images/javi.png');">
    </div>
    <div class="team-content">
      <h3>Javier Padilla Reyes</h3>
      <div class="team-title">
        <p>Cool Guy 3000</p>
      </div>
      <p>Circles: Editorial, Design</p>
      <a href="https://www.instagram.com/placeholdermagazine/"><i class="fa fa-instagram" aria-hidden="true"></i></a>
      <a href="https://twitter.com/PlaceholderMag"><i class="fa fa-twitter" aria-hidden="true"></i></a>
    </div>
  </div>
  <div class="small-12 medium-6 large-4 columns team-card">
    <div class="team-image"  style="background-image: url('/images/javi.png');">
    </div>
    <div class="team-content">
      <h3>Javier Padilla Reyes</h3>
      <div class="team-title">
        <p>Cool Guy 3000</p>
      </div>
      <p>Circles: Editorial, Design</p>
      <a href="https://www.instagram.com/placeholdermagazine/"><i class="fa fa-instagram" aria-hidden="true"></i></a>
      <a href="https://twitter.com/PlaceholderMag"><i class="fa fa-twitter" aria-hidden="true"></i></a>
    </div>
  </div>
  <div class="small-12 medium-6 large-4 columns team-card end">
    <div class="team-image"  style="background-image: url('/images/javi.png');">
    </div>
    <div class="team-content">
      <h3>Javier Padilla Reyes</h3>
      <div class="team-title">
        <p>Cool Guy 3000</p>
      </div>
      <p>Circles: Editorial, Design</p>
      <a href="https://www.instagram.com/placeholdermagazine/"><i class="fa fa-instagram" aria-hidden="true"></i></a>
      <a href="https://twitter.com/PlaceholderMag"><i class="fa fa-twitter" aria-hidden="true"></i></a>
    </div>
  </div>
</div>
