<div class="main-title">
  <h2>Placeholder Team</h2>
</div>

<div class="row">
  <div class="small-12 medium-6 large-4 columns team-card">
    <div class="team-card-inner">
      <div class="team-image"  style="background-image: url('/uploads/Aida.jpg');">
      </div>
      <div class="team-content">
        <h3>Aida Lizalde</h3>
        <div class="team-title">
          <p>Art Liasion</p>
        </div>
        <p>Outreach</p>
        <a href="http://cargocollective.com/aidalizaldeart"><i class="fa fa-globe" aria-hidden="true"></i></a>
        <a href="https://www.instagram.com/idea_aida/"><i class="fa fa-instagram" aria-hidden="true"></i></a>
      </div>
    </div>
  </div>
  <div class="small-12 medium-6 large-4 columns team-card">
    <div class="team-card-inner">
      <div class="team-image"  style="background-image: url('/uploads/Allie.jpg');">
      </div>
      <div class="team-content">
        <h3>Allie Krueger</h3>
        <div class="team-title">
          <p>Content Coordinator</p>
        </div>
        <p>Editorial</p>
        <a href="https://www.instagram.com/placeholdermagazine/"><i class="fa fa-instagram" aria-hidden="true"></i></a>
        <a href="https://twitter.com/PlaceholderMag"><i class="fa fa-twitter" aria-hidden="true"></i></a>
      </div>
    </div>
  </div>
  <div class="small-12 medium-6 large-4 columns team-card ">
    <div class="team-card-inner">
      <div class="team-image"  style="background-image: url('/uploads/Andrew.jpg');">
      </div>
      <div class="team-content">
        <h3>Andrew Hemans</h3>
        <div class="team-title">
          <p>Design Coordinator</p>
        </div>
        <p>Editorial</p>
        <a href="https://github.com/andrewhemans/"><i class="fa fa-github" aria-hidden="true"></i></a>
        <a href="https://www.linkedin.com/in/andrewhemans"><i class="fa fa-linkedin" aria-hidden="true"></i></a>
        <a href="https://www.instagram.com/andrewhemans/"><i class="fa fa-instagram" aria-hidden="true"></i></a>
      </div>
    </div>
  </div>
  <div class="small-12 medium-6 large-4 columns team-card">
    <div class="team-card-inner">
      <div class="team-image"  style="background-image: url('/uploads/Arvin.jpg');">
      </div>
      <div class="team-content">
        <h3>Arvin Dela Cruz</h3>
        <div class="team-title">
          <p>Art Liaison</p>
        </div>
        <p>Outreach</p>
        <a href="https://www.instagram.com/placeholdermagazine/"><i class="fa fa-instagram" aria-hidden="true"></i></a>
        <a href="https://twitter.com/PlaceholderMag"><i class="fa fa-twitter" aria-hidden="true"></i></a>
      </div>
    </div>
  </div>
  <div class="small-12 medium-6 large-4 columns team-card">
    <div class="team-card-inner">
      <div class="team-image"  style="background-image: url('/uploads/Cameron.jpg');">
      </div>
      <div class="team-content">
        <h3>Cameron Getty</h3>
        <div class="team-title">
          <p>Designer</p>
        </div>
        <p>Editorial</p>
        <a href="https://www.instagram.com/placeholdermagazine/"><i class="fa fa-instagram" aria-hidden="true"></i></a>
        <a href="https://twitter.com/PlaceholderMag"><i class="fa fa-twitter" aria-hidden="true"></i></a>
      </div>
    </div>
  </div>
  <div class="small-12 medium-6 large-4 columns team-card">
    <div class="team-card-inner">
      <div class="team-image"  style="background-image: url('/uploads/Cruz.jpg');">
      </div>
      <div class="team-content">
        <h3>Cruz Arredondo</h3>
        <div class="team-title">
          <p>Event Coordinator</p>
        </div>
        <p>Outreach</p>
        <a href="https://www.instagram.com/placeholdermagazine/"><i class="fa fa-instagram" aria-hidden="true"></i></a>
        <a href="https://twitter.com/PlaceholderMag"><i class="fa fa-twitter" aria-hidden="true"></i></a>
      </div>
    </div>
  </div>
  <div class="small-12 medium-6 large-4 columns team-card">
    <div class="team-card-inner">
      <div class="team-image"  style="background-image: url('/uploads/Garrett.jpg');">
      </div>
      <div class="team-content">
        <h3>Garrett Daniells</h3>
        <div class="team-title">
          <p>Art Liaison</p>
        </div>
        <p>Outreach</p>
        <a href="https://www.instagram.com/placeholdermagazine/"><i class="fa fa-instagram" aria-hidden="true"></i></a>
        <a href="https://twitter.com/PlaceholderMag"><i class="fa fa-twitter" aria-hidden="true"></i></a>
      </div>
    </div>
  </div>
  <div class="small-12 medium-6 large-4 columns team-card">
    <div class="team-card-inner">
      <div class="team-image"  style="background-image: url('/uploads/Javier.jpg');">
      </div>
      <div class="team-content">
        <h3>Javier Padilla Reyes</h3>
        <div class="team-title">
          <p>Executive Director</p>
        </div>
        <p>&nbsp;</p>
        <a href="https://www.instagram.com/placeholdermagazine/"><i class="fa fa-instagram" aria-hidden="true"></i></a>
        <a href="https://twitter.com/PlaceholderMag"><i class="fa fa-twitter" aria-hidden="true"></i></a>
      </div>
    </div>
  </div>
  <div class="small-12 medium-6 large-4 columns team-card ">
    <div class="team-card-inner">
      <div class="team-image"  style="background-image: url('/uploads/Natalie.jpg');">
      </div>
      <div class="team-content">
        <h3>Natalie Watkins</h3>
        <div class="team-title">
          <p>Art Liaison</p>
        </div>
        <p>Outreach</p>
        <a href="https://www.instagram.com/placeholdermagazine/"><i class="fa fa-instagram" aria-hidden="true"></i></a>
        <a href="https://twitter.com/PlaceholderMag"><i class="fa fa-twitter" aria-hidden="true"></i></a>
      </div>
    </div>
  </div>
  <div class="small-12 medium-6 large-4 columns team-card">
    <div class="team-card-inner">
      <div class="team-image"  style="background-image: url('/uploads/Ryan.jpg');">
      </div>
      <div class="team-content">
        <h3>Ryan Camero</h3>
        <div class="team-title">
          <p>Operations Coordinator</p>
        </div>
        <p>Outreach</p>
        <a href="https://www.instagram.com/placeholdermagazine/"><i class="fa fa-instagram" aria-hidden="true"></i></a>
        <a href="https://twitter.com/PlaceholderMag"><i class="fa fa-twitter" aria-hidden="true"></i></a>
      </div>
    </div>
  </div>
  <div class="small-12 medium-6 large-4 columns team-card end">
    <div class="team-card-inner">
      <div class="team-image"  style="background-image: url('/uploads/Yadira.jpg');">
      </div>
      <div class="team-content">
        <h3>Yadira Varela</h3>
        <div class="team-title">
          <p>Social Media Strategist</p>
        </div>
        <p>Editorial</p>
        <a href="https://www.instagram.com/placeholdermagazine/"><i class="fa fa-instagram" aria-hidden="true"></i></a>
        <a href="https://twitter.com/PlaceholderMag"><i class="fa fa-twitter" aria-hidden="true"></i></a>
      </div>
    </div>
  </div>
</div>
