<!-- <p><button class="button" data-open="zineModal">Click me for a modal</button></p> -->

<div class="full reveal zine-modal zine-background" id="zineModal" data-reveal>

  <a href="/zinefest/"><img src="/images/zine-logo.png" alt="" class="splash-logo"></a>


  <div class="zine-modal-links">
    <a class="zine-link" href="/zinefest/">Go to Zinefest page</a> | <button class="close-button zine-close" data-close aria-label="Close modal"><span>Go to Placeholder Home</span></button>
  </div>

  <!-- <button class="close-button" data-close aria-label="Close modal" type="button">
    <span aria-hidden="true">&times;</span>
  </button> -->
</div>
