<!DOCTYPE html>
<html>

{% include head.html %}

<body>

  {% include header.html %}
  <div class="mainbody" id="page">
    {% include menu.html %}
    <div class="content" id="content">

      <div class="main-title">
        <!-- <h1>Latest</h1> -->
      </div>

      <div class="row">
        {{ content }}
      </div>
      <div class="row">

        <!-- <div class="pagination">
        {% if paginator.previous_page %}
          <a href="{{ paginator.previous_page_path }}" class="previous">Previous</a>
        {% else %}
          <span class="previous">Previous</span>
        {% endif %}
        <span class="page_number ">Page: {{ paginator.page }} of {{ paginator.total_pages }}</span>
        {% if paginator.next_page %}
          <a href="{{ paginator.next_page_path }}" class="next">Next</a>
        {% else %}
          <span class="next ">Next</span>
        {% endif %}
      </div> -->

      </div>
{% include featured-video.html %}

    </div>
  {% include footer.html %}
  </div>



</body>

</html>
