<!DOCTYPE html>
<html>

{% include head.html %}

<body>

  {% include header.html %}
  <div class="mainbody" id="page">
    {% include menu.html %}
    <div class="content" id="content">

      <div class="main-title">
        <!-- <h1>Latest</h1> -->
      </div>

      <div class="row">
        {{ content }}
      </div>
      <div class="row">

        <div class="pagination">
        {% if paginator.previous_page %}
          <a href="{{ paginator.previous_page_path }}" class="previous">Previous</a>
        {% else %}
          <span class="previous">Previous</span>
        {% endif %}
        <span class="page_number ">Page: {{ paginator.page }} of {{ paginator.total_pages }}</span>
        {% if paginator.next_page %}
          <a href="{{ paginator.next_page_path }}" class="next">Next</a>
        {% else %}
          <span class="next ">Next</span>
        {% endif %}
      </div>

      </div>
      <div class="row video-title">
        <div class="video-text">
          <p>Featured Video</p>
        </div>
      </div>
      <div class="row">
        <div class="flex-video">
          <iframe src="https://player.vimeo.com/video/192115958" width="640" height="360" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
        </div>
      </div>

    </div>

  </div>

  {% include footer.html %}

</body>

</html>
