---
layout: join
---

<!DOCTYPE html>
<html>

{% include head.html %}


<body>
  <header class="site-header">

    <div class="intro-container">
      <div class="intro-logo">
        <img src="/images/logo-white.svg" />
      </div>
      <div class="feature">
        <div class="feature-title">
          <p>{{ page.title }}</p>
        </div>
        <div class="feature-blurb">
          <a href="#page"><p>&#8595</p></a>
        </div>
      </div>
    </div>

    <div class="parallax-background-post" id="1" style="background-image: url({{ page.image }});">
    </div>

  </header>
  <div class="mainbody" id="page">
    {% include menu.html %}
    <div class="main-title join-title">
      <h2>Join Us!</h2>
    </div>
    <div class="join-text row">
      <p class="">Our team is diverse and driven, we're on a mission to promote art, literature, and culture. We would love for you to join us in this adventure! </p>
      <a href="#positions" class="button join-button">Open Positions</a>
    </div>

    <div class="main-title join-title">
      <h2>Circles</h2>
    </div>
    <div class="row">
      <div class="small-12 medium-6 large-4 columns team-card">
        <div class="join-card-inner">
          <h4>Editorial</h4>
        </div>
      </div>
      <div class="small-12 medium-6 large-4 columns team-card ">
        <div class="join-card-inner">
          <h4>Outreach</h4>
        </div>
      </div>
      <div class="small-12 medium-6 large-4 columns team-card ">
        <div class="join-card-inner">
          <h4>Financial</h4>
        </div>
      </div>
    </div>
    <div class="main-title">
      <h2>Cool Stuff!</h2>
    </div>

    <div class="row">
      <div class="small-12 medium-6 large-4 columns team-card">
        <div class="join-card-inner">
          <h4>100% Volunteer</h4>
          <p class="cool">All team members at Placeholder are volunteers.</p>
        </div>
      </div>
      <div class="small-12 medium-6 large-4 columns team-card ">
        <div class="join-card-inner">
          <h4>Fully Remote</h4>
          <p class="cool">We work from various locations in California.</p>
        </div>
      </div>
      <div class="small-12 medium-6 large-4 columns team-card ">
        <div class="join-card-inner">
          <h4>Fun Times</h4>
          <p class="cool">Members often get together to work and to party.</p>
        </div>
      </div>
      <div class="small-12 medium-6 large-4 columns team-card">
        <div class="join-card-inner">
          <h4>Learning</h4>
          <p class="cool">All team members at Placeholder are volunteers.</p>
        </div>
      </div>
      <div class="small-12 medium-6 large-4 columns team-card ">
        <div class="join-card-inner">
          <h4>Career Growth</h4>
          <p class="cool">We work from various locations in California.</p>
        </div>
      </div>
      <div class="small-12 medium-6 large-4 columns team-card ">
        <div class="join-card-inner">
          <h4>Be The Change</h4>
          <p class="cool">Members often get together to work and to party.</p>
        </div>
      </div>
    </div>
    <div class="main-title" id="positions">
      <h2>Open Positions</h2>
    </div>

    <div class="row">
      <table class="unstriped">
        <thead>
          <tr class="positions">
            <th width="75%">Position</th>
            <th>Circle</th>
          </tr>
        </thead>
        <tbody>

          <tr>
            <td><a href="#">Web Design Intern - Remote in Northern California</a></td>
            <td>Design</td>
          </tr>

          <tr>
            <td><a href="#">Outreach Contributor - Remote in Northern California</a></td>
            <td>Outreach</td>
          </tr>
          <tr>
            <td><a href="#">Web Design Intern - Remote in Northern California</a></td>
            <td>Editorial</td>
          </tr>
        </tbody>
      </table>
    </div>
    <div class="main-title join-title">
    </div>
  {% include footer.html %}
  </div>
</body>

</html>
