---
layout: post
---

<!DOCTYPE html>
<html>

{% include head.html %}


<body>
  <header class="site-header">

    <div class="intro-container">
      <!-- <div class="intro-logo">
        <img src="/images/logo.svg" />
      </div> -->
      <div class="feature">
        <div class="feature-title">
          <p>{{ page.title }}</p>
        </div>
        <div class="feature-subtitle">
          <p>{{ page.date | date: '%B %d, %Y' }} | {{ page.author }}</p>
        </div>
        <div class="feature-blurb">
          <a href="#page"><p>&#8595</p></a>
        </div>
      </div>
    </div>

    <div class="parallax-background-post" id="1" style="background-image: url({{ page.image }});">
    </div>

  </header>
  <div class="mainbody" id="page">
    {% include menu.html %}
    <div class="row">
      <div class="post-content">
        {{ content }}
      </div>
    </div>
    <div class="row">
    <div class="small-12 columns author">
      <div class="small-12 medium-12 large-3 columns author-image-outer">
        <div class="author-image"  style="background-image: url({{ page.author-image }});">
        </div>

      </div>
      <div class="small-12 medium-12 large-9 author-bio columns">
        <h2>{{ page.author }}</h2>
        <p>{{ page.author-bio }}</p>
      </div>
    </div>
  </div>
  {% include footer.html %}
  </div>
</body>

</html>
